* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
body {
  width: 1349px;
  background: #0b0b22;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 35px 190px;
}
.header h1 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.header-nav a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  margin: 0 25px;
}
.header button {
  padding: 10px 30px;
  gap: 10px;
  border: none;
  background: var(--button-light, rgba(255, 255, 255, 0.1));
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
#hero {
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.hero h3 {
  color: var(--green, #16fcd2);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 600;
  line-height: 32px; /* 200% */
  letter-spacing: 1.6px;
}
.hero h1 {
  color: #fff;
  margin: 24px auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px; /* 150% */
}
.hero p {
  color: var(--muted, rgba(255, 255, 255, 0.6));
  font-size: 16px;
  font-weight: 500;
  line-height: 32px; /* 200% */
}
.hero button {
  margin: 38px 12.5px;
  padding: 15px 55px;
  gap: 10px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
}
.btn-1 {
  background: var(--primary, #6016fc);
}
.btn-2 {
  background: var(--button-light, rgba(255, 255, 255, 0.1));
}
.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.block-nav {
  margin: 79px 10px;
  padding: 32px 40px;
  width: 248px;
  height: 212px;
  background: var(--light, rgba(255, 255, 255, 0.05));
}
.block-nav div {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 13px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.03);
}
.block-nav h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 29px;
  margin-bottom: 8px;
}
.block-nav p {
  color: var(--muted, rgba(255, 255, 255, 0.6));
  font-size: 16px;
  font-weight: 500;
  line-height: 32px; /* 200% */
}
#footer {
  display: flex;
  height: 105px;
  padding-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 31.698px;
}
