* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 1140px;
  padding: 0 100px;
}
body {
  background: var(--020-a-18, #020a18);
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(100px);
  padding: 20px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.logo-text {
  color: var(--3-a-68-b-8, #3a68b8);
  font-size: 22.545px;
  font-weight: 600;
  margin-bottom: 8px;
}
.header-nav a {
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-weight: 600;
  margin: 0 20px;
}
.header button {
  display: inline-flex;
  height: 47px;
  padding: 15px 30px 27px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-weight: 600;
  background: var(--3-a-68-b-8, #3a68b8);
}
.hero {
  display: flex;
  padding: 59px auto;
  height: 500px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 100px;
}
.hero img {
  width: 40%;
}
.hero-nav h3 {
  color: var(--3-a-68-b-8, #3a68b8);
  font-size: 18px;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  text-transform: uppercase;
  margin-bottom: 10px;
}
.hero-nav h1 {
  color: var(--ffffff, #fff);
  font-size: 55px;
  font-weight: 800;
  line-height: 130%; /* 71.5px */
  margin-bottom: 40px;
}
.hero-nav p {
  color: var(--ffffff, #fff);
  font-size: 18px;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  margin-bottom: 50px;
}
.hero-nav button {
  display: inline-flex;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background: var(--3-a-68-b-8, #3a68b8);
  color: var(--ffffff, #fff);
  font-size: 20px;
  font-weight: 600;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0 10px 150px;
}
.logos img {
  margin: 10px 30px;
}
.section2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
.section2-info h1 {
  color: var(--ffffff, #fff);
  font-size: 40px;
  font-weight: 700;
  line-height: 130%; /* 52px */
}
.section2-info p {
  color: var(--ffffff, #b2b4ba);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  margin: 33px 0 70px 0;
}
.section2-info button {
  display: inline-flex;
  padding: 15px 30px;
  border: none;
  align-items: flex-start;
  gap: 10px;
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  background: var(--3-a-68-b-8, #3a68b8);
}
.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block {
  width: 412.963px;
  height: 478px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 100%, #fff 0%);
  backdrop-filter: blur(100px);
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.block h3 {
  color: var(--ffffff, #cfc9c9);
  font-size: 25px;
  font-weight: 700;
  line-height: 125%; /* 31.25px */
  margin-top: 57px;
  margin-bottom: 36px;
}
.block p {
  color: var(--ffffff, #979292);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
}
.section3 {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.section3-info h1 {
  color: var(--ffffff, #fff);
  font-size: 40px;
  font-weight: 700;
  line-height: 130%; /* 52px */
}
.section3-info p {
  color: var(--ffffff, #a7a0a0);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  margin-top: 30px;
}
#footer {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 100%, #fff 0%);
  padding-top: 70px;
  padding-bottom: 130px;
}
.footer {
  display: flex;
  flex-direction: row;
}
.footer1 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-left: 30px;
}
.footer1 img {
  width: 44px;
}
.footer1 p {
  color: var(--ffffff, #aeacac);
  font-size: 14px;
  font-weight: 450;
  margin-bottom: 30px;
}
.footer1 h4 {
  color: var(--ffffff, #fff);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 19px;
}
.footer1 h3 {
  color: var(--ffffff, #fff);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer1 a {
  color: var(--ffffff, #b2aeae);
  font-size: 14px;
  font-weight: 450;
  margin-top: 20px;
}
.sot-set {
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
